
.course-box {
    outline-style: solid;
}

.course-body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 400px;
}

.course-div {
    min-height: 230px;
}
.course-name {
    background-color: #49a2ff;
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    min-height: 55px;
}

.course-image {
    width: 100%;
}

.course-img {
    padding-top: 10px;
    height: 150px;
    width: 150px;
}

.course-author {
    padding-top: 25px;
    padding-left: 10px;
}

.course-content {
    padding-left: 10px;
}

.paypal-button {
    padding-bottom: 10px;
}

.intro-header {
    font-size: 18px;
    color: black
}

.intro-content {
    font-size: 12px;
}

.intro-button {
    padding-top: 20px;
}

.menu-name {
    padding-top: 20px;
}
.lesson-name {
    text-align: left
}

.ant-menu-sub.ant-menu-inline .ant-menu-item {
 padding-left: unset !important;
}